# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed

# Users Environment Variables
.lock-wscript

.tmp/
.bower/
libs/
node_modules/
bower_components/
*.js.map

._*
.DS_Store

# idea files
.idea/
*.ipr
*.iws
*.iml
