<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Powered by webpack</title>
  <link rel="stylesheet" href="css/hawkular-ui-components.css"/>
  <link rel="stylesheet" href="css/demo-app.css"/>
  <!-- bower:css -->
  <!-- endbower -->
</head>
<body>
<header class="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid navbar-inverse">
        <a class="navbar-brand">ManageIQ Middleware UI Components</a>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid" ng-app="demoApp">
  <div class="row clear-navbar"></div>
  <div class="row" ng-controller="demoAvailableComponents as vm">
    <div class="col-md-3">
      <ul class="nav nav-list well" ng-repeat="group in vm.availableComponents">
        <li class="nav-header module">
          <a class="code ng-binding" href="#{{group.location}}" title="{{group.title}}">{{group.title}}</a>
        </li>
        <li ng-repeat="page in group.components track by page.name" class="api-list-item expand">
          <a ng-src="#{{group.location + page.location}}" tabindex="2">{{page.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ui-view></div>
    </div>
  </div>
</div>
<!-- bower:js -->
<!-- endbower -->
<script src="js/vendor.js"></script>
<script src="js/hawkular-ui-components.js"></script>
<script src="js/demo-app.js"></script>

</body>
</html>
