<div>
  <table class="table table-bordered table-striped table-hover mig-table-with-footer mig-table">
    <thead>
    <tr>
      <th class="narrow miq-select" ng-if="vm.selectable">
        <input ng-if="vm.data.length !== 0" type="checkbox" ng-model="isChecked" ng-click="vm.onCheckAll(isChecked)" title="Select all">
      </th>
      <th ng-repeat="column in vm.columns" ng-click="vm.onSortClick(column)"
          ng-class="vm.getColumnClass(column)">
        <div ng-if="column.sort">
          {{column.text}}
          <div class="pull-right">
            <i ng-if="vm.isFilteredBy(column.col_idx) && !vm.sortReverse" class="fa fa-sort-desc"></i>
            <i ng-if="vm.isFilteredBy(column.col_idx) && vm.sortReverse" class="fa fa-sort-asc"></i>
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.data | orderBy : vm.sortType : vm.sortReverse"
        ng-class="{active : row.selected}"
        ng-click="vm.onRowClick({$event: $event, rowData: row})">
      <td class="narrow" ng-if="vm.selectable" onclick="event.stopPropagation();">
        <input ng-click="vm.onRowSelected($event)"
               onclick="event.stopPropagation();"
               type="checkbox"
               ng-model="row.selected"
               name="check_{{row.id}}"
               value="{{row.id}}"
               ng-checked="row.selected"
               class="list-grid-checkbox">
      </td>
      <td ng-repeat="(columnKey, column) in vm.columns"
          ng-class="vm.getColumnClass(column)">
        <img ng-if="vm.isIconOrImage(row, columnKey)"
             alt="row.cells[columnKey].title"
             title="row.cells[columnKey].title"
             ng-src="{{vm.buildImageUrl(row, columnKey)}}">
            <span ng-if="row.cells[columnKey].text">
                {{row.cells[columnKey].text}}
            </span>
      </td>
    </tr>
    <tr ng-if="vm.data.length === 0">
      <td colspan="{{vm.columns.length + (vm.selectable? 1 : 0)}}">
        <p>It looks like this table has no data.</p>
        <p ng-if="vm.defaultAction">
          Why don't you try
            <a ng-click="vm.defaultAction.actionFunction()">{{vm.defaultAction.title}}</a>
          so this table would not be empty.
        </p>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="!vm.noFooter" class="dataTables_footer">
        <span class="pull-right">
            <miq-data-table-pagination resource-list="vm.data"
                                       current-page="vm.resCurPage"
                                       page-setter="vm.setPage"
                                       per-page="vm.resPerPage">
            </miq-data-table-pagination>
        </span>
  </div>
</div>
